.contents {
    background-color: #FFFAEA;
}

.main-title {
    position: relative;
    height: 600px;
    background-color: transparent;
    font-weight: 900;
    animation: titleAni 4s forwards cubic-bezier(0, .79, .29, .99);
}

.main-title-image {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-title-text {
    position: absolute;
    left: 0;
    bottom: 30px;
    padding-left: 4vw;
    color: #392A5F;
}

@keyframes titleAni {
    0% {
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.draw-ani-line {
    position: absolute;
    top: 670px;
    left: 52.5%;
    z-index: 1;
    height: 1650px;
    border: none;
    border-left: 10px solid #392A5F;
    width: 10px;
}

.draw-ani-hand {
    position: absolute;
    top: 645px;
    left: 50.5%;
    animation: fadeIn 1s forwards;
    z-index: 2;
}

.draw-ani-hand.fade-out {
    position: absolute;
    top: 650px;
    left: 50.5%;
    animation: fadeOut 1s forwards;
    z-index: 2;
}

.members-area {
    position: relative;
    height: auto;
    background-color: transparent;
}

.members-area-item {
    opacity: 0;
}

@media (min-width:750px) {
    .members-area-item.img-right .members-area-item-text {
        margin-left: 5%;
    }
    .members-area-item.img-left .members-area-item-image {
        margin-right: 5%;
    }
}

.members-area-item-text {
    margin: auto;
}

.members-area-item-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 500px;
}

.members-area-bg {
    position: absolute;
    top: 5%;
    width: 100%;
    height: auto;
    z-index: -1;
}

.image {
    position: relative;
    width: 400px;
    height: 370px;
    border: 10px solid #392A5F;
}

.image-ori {
    position: absolute;
    z-index: 1;
}

.image-alt {
    position: absolute;
    z-index: 2;
}

.image-deco__hand {
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 3;
}

.fourDims-area {
    position: relative;
    height: auto;
    background-color: transparent;
    margin-top: -50px;
    padding-bottom: 50px;
}

.fourDims-area p {
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: center;
    width: auto;
    opacity: 0;
}

.fourDims-area p.isAni {
    animation: fadeIn 1s forwards;
}

.fourDims-area-image {
    position: relative;
    height: calc(38vw);
    width: auto;
}

.fourDims-area-image-box {
    animation: fadeOut 1s forwards;
}

.fourDims-area-image-box.bg {
    height: 100%;
    width: auto;
    opacity: 0;
}

.fourDims-area-image-box.bg.isAni {
    animation: fadeIn 1s forwards;
}

.fourDims-area-image-box.hor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: inset(0 100% 0 0);
}

.fourDims-area-image-box.hor.isAni {
    animation: maskLeftToRight 1s forwards;
}

@keyframes maskLeftToRight {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.fourDims-area-image-box.ver {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    clip-path: inset(0 0 100% 0);
}

.fourDims-area-image-box.ver.isAni {
    animation: maskUpToBottom 1s forwards;
}

@keyframes maskUpToBottom {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.fourDims-area-image-box.head {
    position: absolute;
    width: 150px;
    height: auto;
    opacity: 1;
}

.fourDims-area-image-box.head.isAni {
    animation: fadeIn 1s forwards;
}

.fourDims-area-image-box.head.isAni:hover {
    animation: scaleUp 1s forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

#head1 {
    top: 40%;
    left: 40%;
    transform: rotate(10deg);
}

#head2 {
    top: 5%;
    left: 80%;
    transform: rotate(10deg);
}

#head3 {
    top: 70%;
    left: 10%;
    transform: rotate(-10deg);
}

.fourDims-area-bg {
    position: absolute;
    top: -10%;
    width: 100%;
    height: auto;
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width:1200px) {
    .main-title {
        padding-left: 0;
    }
    .main-title-text {
        padding-left: 3vw;
    }
    .fourDims-area-image-box.head {
        width: 75px;
    }
}

@media (max-width:992px) {
    .main-title {
        height: 500px;
        width: auto;
    }
    .members-area-item-image {
        height: 400px;
    }
    .image {
        width: 250px;
        height: 231.25px;
    }
    .image-deco__hand {
        width: 80px;
        height: auto;
    }
    .fourDims-area-image-box.head {
        width: 75px;
    }
    .fourDims-area p {
        font-size: 30px;
    }
}

@media (max-width:576px) {
    .main-title {
        height: 225px;
        width: auto;
    }
    .main-title-text {
        font-size: 30px;
        line-height: 40px;
        padding-left: 10px;
        bottom: 8px;
    }
    .members-area-item-image {
        height: 300px;
    }
    .image {
        width: 200px;
        height: 185px;
    }
    .image-deco__hand {
        right: 0;
        bottom: 10px;
        width: 50px;
        height: auto;
    }
    .fourDims-area-image-box.head {
        width: 25px;
    }
    .fourDims-area p {
        font-size: 20px;
        margin-bottom: 0;
    }
    .members-area-item-text .text {
        font-size: 1rem;
        line-height: 2;
    }
    .members-area-item-text .title {
        line-height: 1.5;
        font-size: 1.5rem;
    }
}

@media (max-width:425px) {
    .image {
        width: 150px;
        height: 135.75px;
    }
    .fourDims-area p {
        font-size: 18px;
        line-height: 3.5;
        margin-bottom: 0;
    }
}

@media (max-width:375px) {
    .fourDims-area p {
        font-size: 16px;
    }
}