body {
    background-color: gainsboro;
}

.main-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: -2;
    width: 17ch;
    animation: typing 2s steps(19);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}

.heads-ani {
    height: 1000px;
    align-items: center;
    justify-content: center;
}

.heads-ani-items {
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.heads-ani-items.head {
    width: 400px;
    margin-top: 10px;
}

.heads-ani-items.logo {
    width: 550px;
}

.heads-ani-items.hand {
    margin-top: 300px;
    width: 200px;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 613px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: azure;
}

.slogan-title {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
    opacity: 0;
}

.slogan-title-up {
    text-align: left;
}

.slogan-title-down {
    text-align: left;
    margin-left: 50px;
}

.splide__slide img {
    transform: scale(0.8);
    margin-top: 6%;
}

.splide__slide.is-active img {
    animation: slideScaleUp 0.5s;
    transform: scale(1);
    margin-top: 0;
}

@keyframes slideScaleUp {
    0% {
        transform: scale(0.8);
        margin-top: 6%;
    }
    100% {
        transform: scale(1);
        margin-top: 0;
    }
}

.recentWork-images-list-item img {
    height: 100%;
}

.btn-previous {
    width: 55px;
    height: 55px;
    background-image: url(image/btn_previous.png);
}

.btn-next {
    width: 55px;
    height: 55px;
    background-image: url(image/btn_next.png);
}

.whatWeDo-title {
    text-align: right;
}

.whatWeDo-subtitles-item-box {
    display: flex;
    height: 425px;
    background-color: azure;
}

.image {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: darkcyan;
}

.whatWeDo-subtitles-item-name {
    width: 420px;
    height: 142px;
    text-align: center;
    margin: auto;
}