.main-title {
    height: 600px;
    background-color: azure;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-left: 20vw;
    padding-top: 350px;
    font-weight: 900;
    animation: titleAni 4s forwards cubic-bezier(0, .79, .29, .99);
}

@keyframes titleAni {
    0% {
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.draw-ani-line {
    position: absolute;
    top: 670px;
    left: 52.5%;
    z-index: 1;
    height: 1650px;
    border: none;
    border-left: 10px solid #392A5F;
    width: 10px;
}

.draw-ani-hand {
    position: absolute;
    top: 645px;
    left: 50.5%;
    animation: fadeIn 1s forwards;
    z-index: 2;
}

.draw-ani-hand.fade-out {
    position: absolute;
    top: 650px;
    left: 50.5%;
    animation: fadeOut 1s forwards;
    z-index: 2;
}

.members-area {
    position: relative;
    height: auto;
    background-color: transparent;
    margin-top: -50px;
    margin-bottom: -50px;
}

.members-area-item {
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0;
}

@media (min-width:750px) {
    .members-area-item.img-right .members-area-item-text {
        margin-left: 5%;
    }
    .members-area-item.img-left .members-area-item-image {
        margin-right: 5%;
    }
}

.members-area-item-text {
    margin: auto;
}

.members-area-item-image {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 500px;
}

.image {
    width: 400px;
    height: 400px;
    border: 10px solid #000;
}

.fourDims-area {
    position: relative;
    height: auto;
    background-color: transparent;
    margin-top: -50px;
    margin-bottom: -50px;
}

.fourDims-area p {
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: center;
    width: auto;
    opacity: 0;
}

.fourDims-area p.isAni {
    animation: fadeIn 1s forwards;
}

.fourDims-area-image {
    position: relative;
    height: calc(38vw);
    width: auto;
}

.fourDims-area-image-box {
    animation: fadeOut 1s forwards;
}

.fourDims-area-image-box.bg {
    height: 100%;
    width: auto;
    opacity: 0;
}

.fourDims-area-image-box.bg.isAni {
    animation: fadeIn 1s forwards;
}

.fourDims-area-image-box.hor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: inset(0 100% 0 0);
}

.fourDims-area-image-box.hor.isAni {
    animation: maskLeftToRight 1s forwards;
}

@keyframes maskLeftToRight {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.fourDims-area-image-box.ver {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    clip-path: inset(0 0 100% 0);
}

.fourDims-area-image-box.ver.isAni {
    animation: maskUpToBottom 1s forwards;
}

@keyframes maskUpToBottom {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.fourDims-area-image-box.head {
    position: absolute;
    width: 150px;
    height: auto;
    opacity: 0;
}

.fourDims-area-image-box.head.isAni {
    animation: fadeIn 1s forwards;
}

#head1 {
    top: 40%;
    left: 40%;
    transform: rotate(10deg);
}

#head2 {
    top: 5%;
    left: 80%;
    transform: rotate(10deg);
}

#head3 {
    top: 70%;
    left: 10%;
    transform: rotate(-10deg);
}

.members-area::before,
.fourDims-area::before {
    content: "";
    background-color: #FFFAEA;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150%;
    left: -25%;
    padding: 0 50px;
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width:1200px) {
    .main-title {
        padding-left: 5vw;
    }
}

@media (max-width:992px) {
    .main-title {
        padding-top: 300px;
        height: 500px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .members-area-item-image {
        height: 400px;
    }
    .image {
        width: 300px;
        height: 300px;
    }
    .fourDims-area-image-box.head {
        width: 75px;
    }
    .fourDims-area p {
        font-size: 30px;
    }
}

@media (max-width:576px) {
    .main-title {
        padding-top: 150px;
        height: 225px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .members-area-item-image {
        height: 300px;
    }
    .image {
        width: 200px;
        height: 200px;
    }
    .fourDims-area-image-box.head {
        width: 25px;
    }
    .fourDims-area p {
        font-size: 20px;
    }
}