.main-title {
    display: flex;
    height: 500px;
    align-content: center;
    justify-content: center;
}

.main-title-text {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.main-circle {
    position: absolute;
    width: 300px;
    height: auto;
    z-index: -1;
}

.work-area {
    position: relative;
    background-color: transparent;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.work-area::before {
    content: "";
    background-color: #FFFAEA;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150%;
    left: -25%;
    padding: 0 50px;
    z-index: -1;
}

.work-area-item {
    margin-bottom: 50px;
}

.display-title {
    height: 96px;
    margin: 0 auto;
}

.display-image {
    width: 100%;
    height: 400px;
}

.display-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ani-area-head {
    position: absolute;
    width: 86px;
}

.ani-area-line {
    height: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-left: 10px dotted #392A5F;
    width: 10px;
}

.desription {
    height: 100%;
    padding-top: 7%;
}

@media (max-width:992px) {
    .main-title {
        height: 300px;
    }
    .main-circle {
        width: 250px;
    }
    .display-image {
        height: 250px;
    }
}

@media (max-width:576px) {
    .main-title {
        height: 200px;
    }
    .main-circle {
        width: 150px;
    }
    .display-image {
        height: 150px;
    }
}